<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Taco Cloud</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

    <h1>Here are all your orders!</h1>
    <img th:src="@{/images/TacoCloud.png}"/>

    <div >

      <div th:each="order: ${orders}">
          <ul>
              <li th:each="taco : ${order.tacos}">
                  <span th:text="${taco.name}">taco name</span></li>
          </ul>
      </div>
    </div>
</body>
</html>